<div style="display: flex; flex-direction: row; gap: 5em; flex-wrap: wrap;">
    <picture>
        <img
          src="https://camo.githubusercontent.com/167a36a1ececb8a83921b6cffebdae1fac5c5c42e7cbdf0b0600864724dd895b/68747470733a2f2f632e74656e6f722e636f6d2f6a33635645506a34627a6b41414141432f6361742d747970696e672e676966"
          alt="GIF de un gato typeando"
          class="w-100"
        />
    </picture>
    <div>
        <h1 class="display-1">Hola!</h1>
        <h2>Mi nombre es Miguel Ángel Diosdado</h2>
        <p>
          Actualmente tengo 20 años, y estudio en la <a href="utsjr.edu.mx">UTSJR</a> la
          ingeniería en desarrollo y gestión de software.
        </p>
        <hr>
        <h3>Hobbies</h3>
        <ul>
            <li>Programar</li>
            <li>Videojuegos</li>
            <li>Arte</li>
            <li>Música</li>
        </ul>
        <hr>
        <h3>Contacto</h3>
        <ul>
            <li>angeldr.ti21&#64;utsjr.edu.mx</li>
        </ul>
    </div>
</div>
